/* SCSS HEX Variables*/

$color-accent: #44ccffff; // vivid-sky-blue
$color-bg: #eee4e1ff; // isabelline
$color-brand: #49dcb1ff; // medium-aquamarine
$color-text: #343f3eff; // outer-space-crayola
$color-light-shades: #ffffff; //White

/* General styles */

:root{
    --color-accent: #44ccffff;
    --color-bg: #eee4e1ff;
    --color-brand: #49dcb1ff;
    --color-text: #343f3efft;
    --color-light-shades: #ffffff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: fantasy;
}

h1, h2, h3, h4, h5, h6, p{
    color: $color-text;
}

h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 15px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

body{
    background-color: $color-bg;
    position: relative;
}

section:first-child{
    background-color: $color-light-shades;
}