.is-controls-active{
    position: fixed;
    top: 70px;
    margin: 0;
}

.preload-transitions * {
    // Dry this up a bit with SCSS variable
    $null-transition: none !important;
  
    -webkit-transition: $null-transition;
    -moz-transition: $null-transition;
    -ms-transition: $null-transition;
    -o-transition: $null-transition;
    transition: $null-transition;
}